/* Here is a link to all the css properties and tags https://www.w3schools.com/css/default.asp */

p img, a{
    border-radius: 12px;
    width: 300px;
    height: 300px;
    padding-left: 5px;
}

h1{
    padding: 45px;
    font-weight: bold;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.ordered-list{
font-size: 16px;
list-style-type: upper-roman;
}

.body-class{
    font-family: 'Times New Roman', Times, serif;
}

#movies {
    color: skyblue;
}

#video{
    width: auto;
}

/* siblings of id - can add multiple '+' signs
#example p+p {
    background-color: yellow;
}

/* parent-child of id - these have a bunch of keywords after colon
#example p:first-child{
    background-color: yellow;
}

/* all paragrpahs when hovered over...
#example p:hover{
    background-color: yellow;
}

*/

nav {
    height: 50px;
    background-color: teal;
    width: 100%;
}

ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}


  /*other keywords
    border-radius -> curved corners
    column-wrap
    row-wrap + row-wrap-reverse
    */


@media only screen and (min-width: 10px) {
    body {
    background-color: whitesmoke;
    }
    img{
        max-width: 100%;
        max-height: auto;
        color: gray;
    }
    ul{
        border-radius: 0px;
        color: white;
    }
}

@media only screen and (min-width: 400px) {
    body {
        background-color: lightgray;
    }
    ul{
        border-radius: 15px;
        color: black;
    }
    nav{
        padding-left: 50px;
    }
    img, a{
        max-width: 100%;
        max-height: auto;
    }
}

@media screen and (min-width: 750px) {
    body {
        background-color: lightsteelblue;
    }
    ul {
        border-radius: 15px;
        color: white;
    }
    nav {
        padding-left: 50px;
    }
    img, a{
        max-width: 100%;
        max-height: auto;
    }
}
  
