/* Here is a link to all the css properties and tags https://www.w3schools.com/css/default.asp */
body{
    background-color: lightcoral;
}

div{
background-color: orange;
}

p{
font-size: 50px;
background-color: springgreen;
}

form{
    background-color: palegreen;
}

h1{
    padding: 205px;
    font-weight: bold;
    text-decoration: underline;
}

ol {
    list-style-type: upper-roman;
    font-size: 42px;
  }

/*Descendant (inheritence)
div form{

}
*/


/* Direct Descendant*/
div > form{
background-color: orange;
}

.example-class{
    color: blue;
    width: 500 px;
}

/*class applied to a direct descendant*/
label > .example-class{
    color: blue;
    width: 500 px;
}