:root{
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: gray;
  --text-secondary: black;
  --bg-primary: white;
  --bg-secondary: red;
}
.grid-container {
  padding-left: 65px;
  align-items: center;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  list-style-type: none;
  justify-content: center;
  margin-top: 10px;
  top: 0;
  width: 90%;
  position: relative;
}

.pic1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  object-fit: cover;
  width: 100%;
  max-height: 100%;

}
.pic2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  object-fit: cover;
  width: 100%;
  max-height: 100%;

}
.pic3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  object-fit: cover;
  width: 100%;
  max-height: 100%;

}
.pic4 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.pic5 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  object-fit: cover;
  width: 100%;
  max-height: 100%;

}
.pic6 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  object-fit: cover;
  width: 100%;
  max-height: 100%;

}
body{
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.40rem;
}

body::-webkit-scrollbar-track{
  background: black;
}

body::-webkit-scrollbar-thumb{
  background: red;
}

main{
  margin-left: 5rem;

}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    top: 0;
    width: 90%;
    position: relative;
  }

  li > a {
    padding: 10px;
    padding-left: 40px;
    background-color: #ffffff;
    color: black;
    display: inline-block;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    float: right;
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  footer div a{
      color: black;
      text-decoration: none;
  }
  .menu-big{
    display: none;
  }

  .menu-small{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .menu-both{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  @media only screen and (min-width: 900px) {

    .menu-big{
      display: inline;
    }
    .menu-small{
      display: none;
    }
    .menu-both{
      display: inline;
    }


  }

