ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    top: 0;
    width: 90%;
    position: relative;
  }

  li > a {
    padding: 10px;
    padding-left: 50px;
    background-color: #ffffff;
    color: black;
    display: inline-block;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    float: right;
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  footer div a{
      color: black;
      text-decoration: none;
  }
  .menu-big{
    display: none;
  }

  .menu-small{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .menu-small:hover{
    position: relative;
    left: 6px;
    top: 26px;
    height: calc(1em + 2px);
    padding:0.5em 0;
    box-sizing:border-box;
    width: 25px;
    background: #979797 content-box;
    transition: all 0.25s;
  }
  .menu-both{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  @media only screen and (min-width: 900px) {

    .menu-big{
      display: inline;
    }
    .menu-small{
      display: none;
    }
    .menu-both{
      display: inline;
    }


  }

